# primitive data: one value in variable

In [3]:
x = 10 
print(x)
x = 20 
print(x)

10
20

In [10]:
# store more than one value in one variable (collection)

In [4]:
x = [10, 20]
print(x)

[10, 20]

In [11]:
# differet types in one collection 
x = [10, 'Ahmed']
print(x)

[10, 'Ahmed']

In [12]:
# list constant 
print(3)
print([1, 24, 76])

3
[1, 24, 76]

In [13]:
# different types: int, float, str 
print(['red', 24, 98.6])

['red', 24, 98.6]

In [15]:
# list in a list / collection in a collection 
x = [ 1, [5, 6], 7]
print(x)
print(x[0])
print(x[1])
print(x[1][0])

[1, [5, 6], 7]
1
[5, 6]
5

In [16]:
# empty list 
x = []
print(x)

[]

In [18]:
# iteration variable 
for num in [5, 4, 3, 2, 1] :
    print(num)
print('Blastoff!')

5
4
3
2
1
Blastoff!

In [19]:
# iteration variable 
friends = ['Joseph', 'Glenn', 'Sally']
for name in friends :
    print('Happy New Year:',  name)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [22]:
# access elements by index 
print(friends[1])

Glenn

In [23]:
# mutable list 
friends[1] = 'Ahmed'
print(friends)

['Joseph', 'Ahmed', 'Sally']

In [31]:
# imutable list 
fruite = 'banana'
print(fruite)
print(fruite[1])
# fruite[1] = 'e'
# convert to mutable 
f = list(fruite)
print(f) # mutable 
f[1] = 'e'
print(f)
fruite = str(''.join(f))
print(fruite)

banana
a
['b', 'a', 'n', 'a', 'n', 'a']
['b', 'e', 'n', 'a', 'n', 'a']
benana

In [34]:
# join list 
l1 = [1, 3, 10, 19]
print(l1)
l2 = [str(x) for x in l1]
print(''.join(l2))

[1, 3, 10, 19]
131019

In [35]:
# loop on list 
friends = ['Joseph', 'Glenn', 'Sally']
# way 1: iteration variable 
for friend in friends :
    print('Happy New Year:',  friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [36]:
# loop on list 
friends = ['Joseph', 'Glenn', 'Sally']
# way 2: index 
for i in range(len(friends)) :
    print('Happy New Year:',  friends[i])

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [39]:
a = [1, 2, 3]
b = [4, 5, 6]
# concat 
c = a + b 
print(c)
# d = a - b # error

[1, 2, 3, 4, 5, 6]

In [40]:
# sum 2 lists 
a = [1, 2, 3]
b = [4, 5, 6]
c = [a[i] + b[i] for i in range(len(a))]
print(c)

[5, 7, 9]

In [47]:
# slicing a list 
t = [9, 41, 12, 3, 74, 15]
print(t)
print(t[2:4]) # index 2, 3 
print(t[2:]) # index 2 to the end 
print(t[:4]) # index 0 to 3

[9, 41, 12, 3, 74, 15]
[12, 3]
[12, 3, 74, 15]
[9, 41, 12, 3]

In [58]:
# list mehtods 
t = [9, 41, 12, 3, 74, 15]
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [49]:
print(t)
t.append(10) # add 3 to the end of the list 
print(t)

[9, 41, 12, 3, 74, 15]
[9, 41, 12, 3, 74, 15, 10]

In [52]:
# sum 2 lists using empty list with append 
a = [1, 2, 3]
b = [4, 5, 6]
c = []
print('before sum: c = ', c)
list_size = len(a)
for i in range(list_size):
    r = a[i] + b[i]
    c.append(r)
    print(i, c)

before sum: c =  []
0 [5]
1 [5, 7]
2 [5, 7, 9]

In [65]:
# count 
t = [9, 41, 12, 3, 74, 15]
print(t)
print(t.count(3))
print(t.count(74))
t.append(3)
print(t)
print(t.count(3))

[9, 41, 12, 3, 74, 15]
1
1
[9, 41, 12, 3, 74, 15, 3]
2

In [ ]:
print(t)
t.extend([1, 2, 5]) # similar to t + 
print(t)